<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="contact-us-well">
        <form class="contact-us-form" action="" method="post">
          <fieldset>
            <legend class="text-center">Свържете се с нас</legend>

            <!-- Name input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="name">Име</label>
              <input id="name" name="name" type="text" placeholder="Вашето име" class="form-control center-input-position">
            </div>

            <!-- Email input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="email">Имейл</label>
              <input id="email" name="email" type="text" placeholder="Вашият имейл" class="form-control center-input-position">
            </div>

            <!-- Subject input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="subject">Тема</label>
              <input id="subject" name="subject" type="text" placeholder="Темата на вашето съобщение" class="form-control center-input-position">
            </div>

            <!-- Message body -->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="message">Съобщение</label>
              <textarea class="form-control center-input-position" id="message" name="message" placeholder="Моля, напишете вашето съобщение тук..."
                rows="5"></textarea>
            </div>

            <!-- Form actions -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-form-submit btn-lg">Изпрати</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
