/* 
#7676F8
#98CDF9
#42A4F5
#0780E4
*/

.contact-us-well {
    border: none;
    background-color: #98CDF9;
}

.contact-us-form,
.contact-us-form legend {
    color: #d9d9d9;
}

.contact-us-form {
    background-color: #0780E4;
}

.center-input-position {
    width: 90%;
    margin: 0 auto;
}
