<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="contact-us-well">
        <form class="contact-us-form" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact us</legend>

            <!-- Name input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="name">Name</label>
              <input id="name" name="name" type="text" placeholder="Your name" class="form-control center-input-position">
            </div>

            <!-- Email input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="email">Your E-mail</label>
              <input id="email" name="email" type="text" placeholder="Your email" class="form-control center-input-position">
            </div>

            <!-- Subject input-->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="subject">Subject</label>
              <input id="subject" name="subject" type="text" placeholder="The subject of your message" class="form-control center-input-position">
            </div>

            <!-- Message body -->
            <div class="col-md-12 text-center form-group">
              <label class="control-label" for="message">Your message</label>
              <textarea class="form-control center-input-position" id="message" name="message" placeholder="Please enter your message here..."
                rows="5"></textarea>
            </div>

            <!-- Form actions -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-form-submit btn-lg">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
