<div class="container-fluid">
  <div class="row offer-wrapper">
    <div class="col-md-8">
      <h2>Какво предлагаме?</h2>
      <hr>
      <div>
        <ul class="offer-list">
          <li>
            <div>
              <span class="offer-icon-container">
                <span class="glyphicon glyphicon-heart pull-left"></span>
              </span>
              <span class="offer-list-content">
                <h4>Предложение 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet erat commodo, iaculis justo eget, ultrices
                  risus.
                </p>
              </span>
            </div>
          </li>
          <li>
            <div>
              <span class="offer-icon-container">
                <span class="glyphicon glyphicon-cloud"></span>
              </span>
              <span class="offer-list-content">
                <h4>Дълго Предложение 24</h4>
                <p>Pellentesque sodales vestibulum lorem vel semper. Etiam ut ultricies tellus. Sed feugiat volutpat justo, sed
                  suscipit turpis luctus eget.
                </p>
              </span>
            </div>
          </li>
          <li>
            <div>
              <span class="offer-icon-container">
                <span class="glyphicon glyphicon-star"></span>
              </span>
              <span class="offer-list-content">
                <h4>Предл</h4>
                <p>Mauris dignissim dolor sit amet vehicula placerat. Nam eu porta sem. Vivamus id dui ac mi lobortis tempus.
                  Cras in nunc eleifend dolor laoreet aliquet. Nulla fermentum mollis massa, id vehicula est pretium non. Nulla
                  blandit quam in arcu ullamcorper feugiat.
                </p>
              </span>
            </div>
          </li>
          <li>
            <div>
              <span class="offer-icon-container">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <span class="offer-list-content">
                <h4>Предложение</h4>
                <p>Etiam nec est enim. Nunc non ex vitae ex dapibus suscipit nec nec odio. Nam placerat massa id egestas accumsan.
                  Nam tempor erat ligula, in dictum massa pretium vel. Phasellus blandit tempus pharetra.
                </p>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 offer-img-container">
      <img src="../../../assets/images/Destinations/borika.jpg" alt="Borika_hotel">
    </div>
  </div>
</div>
