<div class="navbar navbar-default navbar-static-top">
  <!-- navbar-static-top -->
  <div class="navbar-header">
    <a class="navbar-brand">Boroinvest</a>
  </div>
  <ul class="nav navbar-nav navbar-left">
    <li>
      <a href="#">Круизи</a>
    </li>
    <li>
      <a href="#">Самолетни билети</a>
    </li>
    <li>
      <a href="#">Хотелски резервации</a>
    </li>
    <li>
      <a href="#">За нас</a>
    </li>
    <li>
      <a href="#">Общи условия</a>
    </li>
  </ul>

  <div class="margin-right-30">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
      </button>
    </form>
  </div>


</div>

<Carousel [carouselItems]="carouselItems"></Carousel>

<Gallery [galleryItems]="galleryItems"></Gallery>

<app-offer></app-offer>

<app-contact-us></app-contact-us>
  
<app-rich-footer></app-rich-footer>
