<div class="navbar navbar-blue navbar-fixed-top">
  <!-- navbar-static-top -->
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand brand-center">Boroinvest</a>
  </div>
  <ul class="nav navbar-right navbar-nav nav-right">
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-user glyph-user-right"></span>Елица</a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <admin-sidebar-items></admin-sidebar-items>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
