<div class="navbar navbar-blue navbar-fixed-top">
  <!-- navbar-static-top -->
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand brand-center">Boroinvest</a>
  </div>
  <ul class="nav navbar-right navbar-nav nav-right">
    <li>
        <a href="#"><span class="glyphicon glyphicon-user glyph-user-right"></span>Елица</a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a routerLink="/admin/offer" class="collapsed" aria-expanded="false" (click)="openSubmenu()">
              <i class="fa fa-fw fa-search"></i> Оферти
              <i class="fa fa-fw fa-angle-down pull-right"></i>
            </a>
            <ul id="submenu-1" class="collapse" aria-expanded="false">
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i> Добави Оферта</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" data-toggle="collapse" data-target="#submenu-2">
              <i class="fa fa-fw fa-star"></i> MENU 2
              <i class="fa fa-fw fa-angle-down pull-right"></i>
            </a>
            <ul id="submenu-2" class="collapse">
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="investigaciones/favoritas">
              <i class="fa fa-fw fa-user-plus"></i> MENU 3</a>
          </li>
          <li>
            <a href="sugerencias">
              <i class="fa fa-fw fa-paper-plane-o"></i> MENU 4</a>
          </li>
          <li>
            <a href="faq">
              <i class="fa fa-fw fa fa-question-circle"></i> MENU 5</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
