.footer {
    flex-shrink: 0;
    padding: 10px;
    background: #42A5F5;
    color: white;
}

.map iframe,
.partners {
    max-height: 200px;
}

.partners-list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.fiesta {
    align-self: flex-end;
}

.sunny {
    align-self: flex-start;
}