<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <span class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.067247646299!2d23.35476901443152!3d42.68111782275982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85c3e0321f1d%3A0x41daea1104b07896!2z0LHRg9C7LiDigJ7QqNC40L_Rh9C10L3RgdC60Lgg0L_RgNC-0YXQvtC04oCcIDIzLCAxMTExINCT0LXQviDQnNC40LvQtdCyLCDQodC-0YTQuNGP!5e0!3m2!1sbg!2sbg!4v1507065733275" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </span>
      </div>
      <div class="col-md-6 partners">
        <span class="">
            <ul class="partners-list">
              <li class="fiesta">
                <a href="#">
                  <img src="../assets/images/Partners/Fiesta-logo.png" alt="Fiesta Logo">
                </a>
              </li>
              <li class="iglika">
                <a href="#">
                  <img src="../assets/images/Partners/Iglika.png" alt="Iglika logo">
                </a>
              </li>
              <li class="sunny">
                <a href="#">
                  <img src="../assets/images/Partners/SB-GH-logo.png" alt="SunnyBeach logo">
                </a>
              </li>
            </ul>
          </span>
      </div>
    </div>
    <div class="text-center">
      <span>Всички права запазени &copy; 2017 Бороинвест.</span> <br>
      <span>Изработен от Kurtbit&trade;.</span>
    </div>
  </div>
</footer>
