.footer {
    flex-shrink: 0;
    padding: 10px;
    background: #084672;
    color: #d9d9d9;
}

.map {
    display: inline-block;
    margin-top: 4%;
    width: 100%;
}

.map iframe {
    max-height: 200px;
    width: 100%;
}

.partners-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    height: 250px;
    justify-content: space-around;
}

.partners-list img {
    background-color: #00adbd;
}

.partners-list li:hover img,
.partners-list li:active img {
    opacity: 0.5;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 239px;
    text-align: center;
}