<div class="container">
  <div class="gallery-wrapper">
    <div class="row">
      <div class="col-md-12">
        <ul class="gallery-img-container">
          <li class="gallery">
            <div class="gallery-img">
              <img src="../../../assets/images/Destinations/dobrovnik.jpg" class="img-thumbnail" alt="Dobrovnik">
            </div>
            <div></div>
          </li>
          <li class="gallery">
            <div class="gallery-img">
                <img src="../../../assets/images/Destinations/malta.jpg" class="img-thumbnail" alt="Malta">
            </div>
            <div></div>
          </li>
          <li class="gallery">
            <div class="gallery-img">
                <img src="../../../assets/images/Destinations/pariss.jpg" class="img-thumbnail" alt="Pariss">
            </div>
            <div></div>
          </li>
          <li class="gallery">
            <div class="gallery-img">
                <img src="../../../assets/images/Destinations/venecia.jpg" class="img-thumbnail" alt="Venecia">
            </div>
            <div></div>
          </li>
        </ul>
      </div>
      <div class="col-md-12 gallery-expanded">
        <div class="gallery-details">
          <img src="../../../assets/images/Destinations/dobrovnik.jpg" alt="Dobrovnik">
          <div class="gallery-info">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
              Donec id elit non mi porta gravida at eget metus. Nullam id 
              dolor id nibh ultricies vehicula ut id elit. Cras justo odio, 
              dapibus ac facilisis in, egestas eget quam. Donec id elit non 
              mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a href="#" class="btn btn-success" role="button">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="thumbnail"> <img alt="100%x200" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVlZTNmMTU2Y2QgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWVlM2YxNTZjZCI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44MDQ2ODc1IiB5PSIxMDUuMSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
  data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
<div class="caption">
  <h3>Thumbnail label</h3>
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
    Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
</div>
</div> -->


<!-- <div class="col-md-3 gallery-container">
    <div class="gallery">
      <img src="../../../assets/images/Destinations/dobrovnik.jpg" alt="Dobrovnik">
    </div>
  </div>
  <div class="col-md-3 gallery-container">
    <div class="gallery">
      <img src="../../../assets/images/Destinations/malta.jpg" alt="Malta">
    </div>
  </div>
  <div class="col-md-3 gallery-container">
    <div class="gallery">
      <img src="../../../assets/images/Destinations/pariss.jpg" alt="Pariss">
    </div>
  </div>
  <div class="col-md-3 gallery-container">
    <div class="gallery">
      <img src="../../../assets/images/Destinations/venecia.jpg" alt="Venecia">
    </div>
  </div> -->
